head
	title Hexbg
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5")

body
	+main

template(name="main")
	+bg
	+hexField
	+sideNav

template(name="lupe")
	.lupe(style="top:#{pos.y}px; left:#{pos.x}px;")

template(name="bg")
	.background(style="background-color: ##{hex};")
		+lupe

template(name="sideNav")
	section.navigation
		div.menu-toggle
			.line
			.line
			.line
		if nav
			+menu

template(name="menu")
	section.side-nav.slide-in
		ul.no-style-type.np
			li.big-item
			li.text-item
				span hello

template(name="hexField")
	.hex-input-container.noselect 
		input(name="hex-field", value=val)
