head
	title Hexbg
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5")

body
	+main

template(name="main")
	+bg
	+hexField
	+sideNav

template(name="lupe")
	.lupe(style="top:#{pos.y}px; left:#{pos.x}px;")

template(name="bg")
	.background(style="background-color: ##{hex};")
		+lupe

template(name="sideNav")
	section.navigation
		div.menu-toggle
			.line
			.line
			.line
		if nav
			+menu

template(name="menu")
	section.side-nav.slide-in
		section.relative
			.title
			ul.no-style-type.np
				//- li.big-item
				li.text-item
					i.fa.fa-square-o
					span Polygons
				li.text-item
					i.fa.fa-check-square-o
					span hello

			ul.no-style-type.np(style="position:fixed; bottom:8vh;")
				li.text-item
					i.fa.fa-envelope
					span Contact

				li.text-item
					i.fa.fa-twitter
					span @gopatrik



template(name="hexField")
	.hex-input-container.noselect 
		input(name="hex-field", value=val)
