head
	title Hexbg
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5")

body
	+main
	//- +svgTest

template(name="svgTest")
	<svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"> <circle fill="#D1E9D1" stroke="#000000" stroke-miterlimit="10" cx="137.383" cy="123.889" r="112.617"/> <circle fill="#DDDAD3" stroke="#000000" stroke-miterlimit="10" cx="212.753" cy="199.259" r="67.247"/> </svg>
	<img id="fromcanvas" alt="svg butterfly from canvas.toDataURLﬂ()" />
	button convert

template(name="main")
	+paper
	+hexField
	+sideNav

template(name="lupe")
	.lupe(style="top:#{pos.y}px; left:#{pos.x}px;")

template(name="paper")
	svg.background.paper(style="background-color: ##{hex};")
	if lupe
		+lupe

template(name="sideNav")
	section.navigation
		div.menu-toggle
			.line
			.line
			.line
		if nav
			+menu

template(name="menu")
	section.side-nav.slide-in
		section.relative
			.title
			ul.no-style-type.np
				//- li.big-item
				each menuItems
					li.text-item(class=itemClass)
						unless checked
							i.fa(class=icon, style="color: rgba(255,255,255,0.5);")
							//- span O
						else
							i.fa(class=icon, style="color: rgba(255,255,255,0.9);")
							//- span I

			ul.no-style-type.np(style="position:fixed; bottom:8vh;")
				li.text-item
					i.fa.fa-envelope

				li.text-item
					i.fa.fa-twitter



template(name="hexField")
	.hex-input-container.noselect 
		input(name="hex-field", value=val)
